*{
  font-family: Verdana, Geneva, Tahoma, sans-serif
}


nav {
	grid-area: nav;
  width: auto;
	height: 30px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


nav ul li a {
	display: block;
	padding: 0.5rem 1rem;
	color: black;
	text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

.nav-li a:hover {
	color: whitesmoke;
	text-decoration: underline;
  border-radius: 20px;
  background-color: #01965c;
}
nav li{
		list-style-type: none;
		float: left;
		}

#navi-bar {
  text-align: center; /*text in dive to be middlle*/
	background-color:white;
	width: 800px;
	height: 10px;
	margin: 20px auto;
	position: absolute;
	top: -10px;
	left: 0px;
	right: 0px;
}

.nav-li {
  margin-top: 20px;
}
#call-to-action {
  margin-top: 55px;
  margin-bottom: 0px; 
  width: auto;
  height: 60px;
  background-color: #01965c;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
 
 
}

#cta-word {
  text-align: center;
  width: 600px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  position: relative;
	top: 16px;
	left: -102px;
  font-size: 20px;
}
#call-to-action a {
  display: block;
  text-align: center;
  width: 140px;
  height: 26px;
  position: relative;
	top: -10px;
	left: 160px;
  background-color: whitesmoke;
  border-radius: 10px;
  text-decoration: none;
  color: #01965c;
  padding-top: 0.3rem;
  font-weight: bold;
}

#call-to-action a:hover {
	color: white;
  border-radius: 10px;
  background-color: #ffd900;
}

.banner {
	width: 70vw;
	height: 450px;
	box-sizing: content-box;
  margin: 0px auto;
  margin-bottom: 80px;
  position: relative;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
}

.banner .banner-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}

.banner-list .item {
	width: 70vw;
	height: 100%;
	
	float: left;
	font-weight: bold;
	font-size: 40px;
	line-height: 150px;
}

.banner-list .item#item1{
	background: #fee2b3;
}

.banner-list .item#item2 {
	background: #ffa299;
}

.banner-list .item#item3 {
	background: #ad6989;
}

.banner-list .item#item4 {
	background: #562349;
}

@keyframes banner-swipe {
	0% { left: 0; }
	18% {left: 0;}
	25% { left: -70vw; }
	43% {left: -70vw;}
	50% { left: -140vw; }
	68% { left: -140vw; }
	75% { left: -210vw; }
	93% { left: -210vw; }
	100% { left: -280vw; }
}

.banner-list {
	width: 20000px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
	list-style: none;
	animation: banner-swipe 15s ease-in infinite;
}

#green-box1 {
  width: 250px;
  height: 20px;
  background-color: #01965d8c; 
  position: relative;
	top: -53px;
	left: 0;
	right: 0;
	bottom: 0;
  margin: 20px auto;
  margin-bottom: 30px;
  z-index: -1;
  }
#green-box2 {
  width: 350px;
  height: 20px;
  background-color: #01965d8c; 
  position: relative;
	top: -53px;
	left: 0;
	right: 0;
	bottom: 0;
  margin: 20px auto;
  margin-bottom: 30px;
  z-index: -1;
  }
  
#who-we-are {
 width: auto;
 height: 600px;
 background-color: #f1ca1d69;
 z-index: 2;
 margin-bottom: 80px
}
#wwa-img {
  text-align: center;
  position: relative;
	top: 0px;
	left: -290px;
	right: 0;
	bottom: 0;
  margin: 20px auto;
  z-index: 2;
  

}
#wwa-text {
 
  width: 460px;
  height: 300px;
  position: relative;
	top: -540px;
	left: 300px;
	right: 0;
	bottom: 0;
  margin: 20px auto;
  font-size: 1.5em;
  z-index: 2;
}
#wwa-bg {
  width: 600px;
  height: 600px;
  position: relative;
	top: -948px;
	left: 290px;
	right: 0;
	bottom: 0;
  margin: 20px auto;
  z-index: 1;
  background-color: #ffffffdc;
}
#wwa-cta {
  width: 200px;
  display: block;
	padding: 0.5rem 1rem;
	color: white;
	text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  background-color: #01965d;
  border-radius: 1em;
  position: relative;
	top: -1090px;
	left: 300px;
	right: 0;
	bottom: 0;
  margin: 20px auto;
  z-index: 3;
}

#our-impact {
 width: auto;
 height: 600px;
 background-color: #dfdfdf9d;
 z-index: 2;
 margin-bottom: 80px
}
#oi-img {
  text-align: center;
  position: relative;
	top: 0px;
	left: 290px;
	right: 0;
	bottom: 0;
  margin: 20px auto;
  z-index: 2;

}
#oi-text {
 
  width: 400px;
  height: 300px;
  position: relative;
	top: -565px;
	left: -300px;
	right: 0;
	bottom: 0;
  margin: 20px auto;
  font-size: 1.5em;
  z-index: 2;
}
#oi-bg {
  width: 600px;
  height: 600px;
  position: relative;
	top: -948px;
	left: -290px;
	right: 0;
	bottom: 0;
  margin: 20px auto;
  z-index: 1;
  background-color: #ffffffdc;
}
#oi-cta {
  width: 200px;
  display: block;
	padding: 0.5rem 1rem;
	color: white;
	text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  background-color: #01965d;
  border-radius: 1em;
  position: relative;
	top: -1070px;
	left: -300px;
	right: 0;
	bottom: 0;
  margin: 20px auto;
  z-index: 3;
}

#osl {
z-index: 0;
position: relative;
margin: 2px auto;
top: 0px;
left: 12vw;
right: 0;
bottom: 0;


}
#osm {
z-index: 3;
position: relative;
margin: 2px auto;
top: -360px;
left: 0;
right: 0;
bottom: 0;


}
#osr {
  z-index: 0;
position: relative;
margin: 2px auto;
top: -720px;
left: -12vw;
right: 0;
bottom: 0;

  
}
#os-text {
  height: auto;
text-align: center;
width: 40vw;
position: relative;
margin: 2px auto;
top: -0px;
left: 0;
right: 0;
bottom: 0;
font-size: 1.5em;

}
h2 {
 font-family: 'Squada One', cursive;
 font-size: 2.8em; 
}
#os-imgholder {
  height: 350px;
}
#os-cta {
  width: 200px;
  display: block;
	padding: 0.5rem 1rem;
	color: white;
	text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  background-color: #01965d;
  border-radius: 1em;
  position: relative;
	top: -0px;
	left: 0px;
	right: 0;
	bottom: 0;
  margin: 20px auto;
  z-index: 3;
  margin-bottom: 80px;
}

#mad-cta {
  width: 300px;
  display: block;
	padding: 0.5rem 1rem;
	color: white;
	text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  background-color: #01965d;
  border-radius: 1em;
  position: relative;
	top: -1155px;
	left: 300px;
	right: 0;
	bottom: 0;
  margin: 30px auto;
  z-index: 3;
}

#footer-bg {
  display: flex;
  height: auto;
  width: auto;
  background-color: #01965d;
}
#foot-left {
 margin-left: 10vw;
 flex: 5;
}
#foot-right {
 flex: 1;
}
footer div p{
color: white;
margin: 5px;
padding: 5px;
}

#foot-right ul {
  list-style: none;
  margin-right: 10px;
}