*{
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

@media screen and (min-width: 885px) {
nav {
  width: auto;
	height: 30px;  
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li a {
	display: block;
	padding: 0.5rem 1rem;
	color: black;
	text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}
.nav-li a:hover {
	color: whitesmoke;
	text-decoration: underline;
  border-radius: 20px;
  background-color: #017E4E;
}
nav li{
		list-style-type: none;
		float: left;
		}
#navi-bar {
  text-align: center; /*text in dive to be middlle*/
	background-color:white;
	width: 800px;
	height: 10px;
	margin: 20px auto;
	position: absolute;
	top: -10px;
	left: 0px;
	right: 0px;
}
.nav-li {
  margin-top: 20px;
}
}
@media screen and (max-width: 885px) {
nav {
  width: auto;
	height: 360px;}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;}
nav ul li a {
	display: block;
	padding: 0.5rem 1rem;
	color: black;
	text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  border: 2px;}
#nav-img {
  height: 150px;
}
.nav-li a:hover {
	color: whitesmoke;
	text-decoration: underline;
  border-radius: 20px;
  background-color: #017E4E;
}
.nav-li a{
  margin: 5px;
  margin-left:40px;
  margin-right: 40px; 
  border: 0.15em dotted rgba(0, 0, 0, 0.39);
  border-radius: 20px;
}
nav li{
		list-style-type: none;

		}

#navi-bar {
  text-align: center; 
	background-color:white;
	margin: 20px auto;
	position: absolute;
	top: -10px;
	left: 0px;
	right: 0px;
}}
#title {
  margin-top: 68px;
  width: auto;
  height: 300px;
  background-color: #ffcc24;
  position: relative;
	top: -15px;
	left: 0px;
	right: 0px;

}
#title > h1 {
  margin: 30px;
  padding: 30px;
  color: white;
  font-size: 3em;
}
form {
  max-width: 100%;
  padding: 1rem 1rem 1rem 0;
  margin-bottom: 40px;
}
ul {
  margin-top: 10px;
  padding-left: 60px; 
  padding-right: 60px; 
}

form li {
  display: block;
  list-style: none;
  margin: 20px 0 0 0;
}
li h2 { 
  margin-top: 45px;
	font-size: 2em; 
  font-weight: bold;
  margin-bottom: 20px; 
}

 label { 
  margin: 0 0 0.3em 0;
	font-size: 1.2em; 
  font-weight: bold;
  padding-bottom: 0.35em; 
}

.text { 
  margin: 0 0 0.3rem 0;
	display: block;
	font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 0.35rem; 
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"], textarea
{
  box-sizing: border-box;
	border: 0.2em solid rgba(0, 0, 0, 0.39);
  color: black;
  background-color: #d8d6d698;
	padding: 0.5rem 0.7rem 0.5rem 0.7rem;
	transition: all 0.30s ease-in-out;
	outline: none;	
  border-radius: 1em;
}

#genders {
  box-sizing: border-box; 
	border: 0.2em solid rgba(0, 0, 0, 0.39);
  color: black;
  background-color: #d8d6d698;
	padding: 0.5rem 0.7rem 0.5rem 0.7rem;
	transition: all 0.30s ease-in-out;
	outline: none;	
  border-radius: 1em;
  width: 200px;
}
#genders:focus {
  border: 0.25em solid rgb(4, 168, 67);
	box-shadow: 0 0 2px rgb(2, 173, 68);
}
#volunteeravailability {
  box-sizing: border-box; 
	border: 0.2em solid rgba(0, 0, 0, 0.39);
  color: black;
  width: 200px;
  background-color: #d8d6d698;
	padding: 0.5rem 0.7rem 0.5rem 0.7rem;
	transition: all 0.30s ease-in-out;
	outline: none;	
  border-radius: 1em;
}
#volunteeravailability:focus {
  border: 0.25em solid rgb(4, 168, 67);
	box-shadow: 0 0 2px rgb(2, 173, 68);
}
#EducationBackground {
  box-sizing: border-box; 
	border: 0.2em solid rgba(0, 0, 0, 0.39);
  color: black;
  width: 200px;
  background-color: #d8d6d698;
	padding: 0.5rem 0.7rem 0.5rem 0.7rem;
	transition: all 0.30s ease-in-out;
	outline: none;	
  border-radius: 1em;
}
#EducationBackground:focus {
  border: 0.25em solid rgb(4, 168, 67);
	box-shadow: 0 0 2px rgb(2, 173, 68);
}
.name-input:focus{
  border: 0.25em solid rgb(4, 168, 67);
	box-shadow: 0 0 2px rgb(2, 173, 68);
}
.name-input {
  width: 200px;
}
.long-input{
  width: 200px;
}
.long-input:focus{
  border: 0.25em solid rgb(4, 168, 67);
	box-shadow: 0 0 2px rgb(2, 173, 68);
}
.carnum-input{
  width: 200px;
}
.carnum-input:focus{
  border: 0.25em solid rgb(4, 168, 67);
	box-shadow: 0 0 2px rgb(2, 173, 68);
}
.twonum-imput {
  width: 80px ;
}
.twonum-input:focus{
  border: 0.25em solid rgb(4, 168, 67);
	box-shadow: 0 0 2px rgb(2, 173, 68);
}
.threenum-imput {
  width: 100px ;
}
.threenum-input:focus{
  border: 0.25em solid rgb(4, 168, 67);
	box-shadow: 0 0 2px rgb(2, 173, 68);
}
.text-box {
  width: 260px;
  height: 200px;
}

@media screen and (min-width: 885px) {
  .text-box {
  width: 600px;
  height: 200px;
}
}
.text-box:focus{
  border: 0.25em solid rgb(4, 168, 67);
	box-shadow: 0 0 2px rgb(2, 173, 68);
}
#main {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.to-whom {
  width: 100%;
  margin:0 auto;
  display: flex;
  justify-content: center;
}

.to-whom-holder {
  max-width: 800px;
  text-align: center;

}
.container {
  max-width: 968px;
  margin: 0 auto;
}
.button {
  margin-top: 30px;
  box-sizing: border-box; 
	border: 0.2em solid rgba(0, 0, 0, 0);
  color: rgb(251, 251, 251);
  width: 150px;
  height: 60px;
  background-color: #ffd104ec;
	padding: 0.5rem 0.7rem 0.5rem 0.7rem;
	transition: all 0.30s ease-in-out;
	outline: none;	
  border-radius: 1em;
  font-weight: bold;
  font-size: 1.2em;
}
.button:hover {
  margin-top: 30px;
  box-sizing: border-box; 
	border: 0.2em solid rgba(2, 173, 68, 0);
  color: rgb(251, 251, 251);
  width: 150px;
  height: 60px;
  background-color: #ffc403;
	padding: 0.5rem 0.7rem 0.5rem 0.7rem;
	transition: all 0.30s ease-in-out;
	outline: none;	
  border-radius: 1em;
  font-weight: bold;
  font-size: 1.2em;
}

.button:focus {
  margin-top: 30px;
  box-sizing: border-box; 
	border: 0.2em solid rgb(2, 173, 68);
  color: rgb(251, 251, 251);
  width: 150px;
  height: 60px;
  background-color: #ffa703;
	padding: 0.5rem 0.7rem 0.5rem 0.7rem;
	transition: all 0.30s ease-in-out;
	outline: none;	
  border-radius: 1em;
  font-weight: bold;
  font-size: 1.2em;
}


/*footer*/
#footer-bg {
  display: flex;
  height: auto;
  width: auto;
  background-color: #017E4E;
}
#foot-left {
 margin-left: 10vw;
 flex: 5;
}
#foot-right {
 flex: 1;
}
footer div p{

color: white;
margin: 5px;
padding: 5px;
margin-top:15px; 
}

#foot-right ul {
  list-style: none;
  margin-right: 10px;
}

