*{
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

@media screen and (min-width: 885px) {
nav {
  width: auto;
	height: 30px;  
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li a {
	display: block;
	padding: 0.5rem 1rem;
	color: black;
	text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}
.nav-li a:hover {
	color: whitesmoke;
	text-decoration: underline;
  border-radius: 20px;
  background-color: #017E4E;
}
nav li{
		list-style-type: none;
		float: left;
		}
#navi-bar {
  text-align: center; /*text in dive to be middlle*/
	background-color:white;
	width: 800px;
	height: 10px;
	margin: 20px auto;
	position: absolute;
	top: -10px;
	left: 0px;
	right: 0px;
}

}

@media screen and (max-width: 885px) {
nav {
  width: auto;
	height: 360px;}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;}
nav ul li a {
	display: block;
	padding: 0.5rem 1rem;
	color: black;
	text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  border: 2px;}
#nav-img {
  height: 150px;
}
.nav-li a:hover {
	color: whitesmoke;
	text-decoration: underline;
  border-radius: 20px;
  background-color: #017E4E;
}
.nav-li a{
  margin: 5px;
  margin-left:40px;
  margin-right: 40px; 
  border: 0.15em dotted rgba(0, 0, 0, 0.39);
  border-radius: 20px;
}
nav li{
		list-style-type: none;

		}

#navi-bar {
  text-align: center; 
	background-color:white;
	margin: 20px auto;
	position: absolute;
	top: -10px;
	left: 0px;
	right: 0px;
}}

/*call to action banner*/
#call-to-action {
  margin-top: 55px;
  margin-bottom: 0px; 
  margin-left: auto;
  margin-right: auto;
  background-color: #01965c;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  justify-content: center;
  
}
#cta-holder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#cta-left {
  height: 50px;
  width: 400px;
  text-align: center;
}
#cta-right {
  text-align: center;
  height: 50px;
  width: 400px;
}
#cta-word {
  
  color: white;
  font-size: 20px;
  position: relative;
  margin: 0 auto;
  top: 12px;
  bottom: 0;
  left: 0;
  right: 0;
}
#call-to-action a {
  display: block;
  text-align: center;
  width: 140px;
  height: 26px;
  background-color: whitesmoke;
  border-radius: 10px;
  text-decoration: none;
  color: #01965c;
  padding-top: 0.3rem;
  font-weight: bold;
  position: relative;
  margin: 0 auto;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 10px;
}

#call-to-action a:hover {
	color: white;
  border-radius: 10px;
  background-color: #ffd900;
}
/*big screen*/
.banner-container {
	max-width: 650px;
	height: 350px;
	box-sizing: content-box;
  margin: 0px auto;
  margin-bottom: 80px;
  position: relative;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
}

.banner-container .banner-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}
.baimg{
  width: 650px;
}
.banner-list .item {
	float: left;
}

.banner-list .item#item1{
	background: #fee2b3;
}

.banner-list .item#item2 {
	background: #ffa299;
}

.banner-list .item#item3 {
	background: #ad6989;
}

.banner-list .item#item4 {
	background: #562349;
}

@keyframes banner-swipe {
	0% { left: 0; }
	18% {left: 0;}
	25% { left: -650px; }
	43% {left: -650px;}
	50% { left: -1300px; }
	68% { left: -1300px; }
	75% { left: -1950px; }
	93% { left: -1950px; }
	100% { left: -2600px; }
}

.banner-list {
	width: 20000px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
	list-style: none;
	animation: banner-swipe 15s ease-in infinite;
}

#green-box1 {
  width: 250px;
  height: 20px;
  background-color: #01965d8c; 
  position: relative;
	top: -53px;
	left: 0;
	right: 0;
	bottom: 0;
  margin: 20px auto;
  margin-bottom: 30px;
  z-index: -1;
  }
#green-box2 {
  width: 350px;
  height: 20px;
  background-color: #01965d8c; 
  position: relative;
	top: -53px;
	left: 0;
	right: 0;
	bottom: 0;
  margin: 20px auto;
  margin-bottom: 30px;
  z-index: -1;
  }


/* here starts the who we are css*/
#who-we-are {
justify-content: center;
 display: flex;
 width: auto;
 padding: 0px 20px; 
 background-color: #dfdfdf9d;
 z-index: 2;
 margin-bottom: 80px
}
@media screen and (max-width: 1125px) {
#who-we-are {
flex-wrap: wrap;}
}
.container {
width:auto;

}

.object-cover {object-fit: cover;
height: 400px;
}

#wwa-bg {
  width: 400px;
  height: 400px;
  text-align: center;
  z-index: 2;
  background-color: #f1ca1d69;
}

#wwa-bg > p{
font-size: 0.9em;
padding: 20px 30px ;
}

.button-cta {
  width: 200px;
  display: block;
	padding: 0.5rem 1rem;
	color: white;
	text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  background-color: #01965d;
  border-radius: 1em;

  margin: 20px auto;
  z-index: 3;
}

/* here starts the our impact css*/
#our-impact {
justify-content: center;
 display: flex;
 width: auto;
 padding: 0px 20px; 
 background-color: #dfdfdf9d;
 z-index: 2;
 margin-bottom: 80px
}
@media screen and (max-width: 1125px) {
#our-impact {
flex-wrap: wrap;}
}

#oi-img {
  text-align: center;
}

#oi-bg {
  width: 400px;
  height: 400px;
  text-align: center;
  z-index: 2;
  background-color: #ffffffdc;
}

#oi-bg > p{
font-size: 0.9em;
padding: 20px 30px ;

}
.button-cta {
  width: 200px;
  display: block;
	padding: 0.5rem 1rem;
	color: white;
	text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  background-color: #01965d;
  border-radius: 1em;

  margin: 20px auto;
  z-index: 3;
}

/* here starts the our story css*/
#osl {
z-index: 0;
position: relative;
margin: 2px auto;
top: 0px;
left: 0;
right: 0;
bottom: 0;
visibility: hidden;

}
#osm {
z-index: 3;
position: relative;
margin: 2px auto;
top: -360px;
left: 0;
right: 0;
bottom: 0;


}
#osr {
  z-index: 0;
position: relative;
margin: 2px auto;
top: -720px;
left: 0;
right: 0;
bottom: 0;
visibility: hidden;  
}
#os-text {

position: relative;
padding: 20px 30px;

font-size: 0.9em;

}
h2 {
 font-family: 'Squada One', cursive;
 font-size: 2.8em; 
}
#os-imgholder {
  height: 350px;
}
#os-cta {
  width: 200px;
  display: block;
	padding: 0.5rem 1rem;
	color: white;
	text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  background-color: #01965d;
  border-radius: 1em;
  position: relative;
	top: -0px;
	left: 0px;
	right: 0;
	bottom: 0;
  margin: 20px auto;
  z-index: 3;
  margin-bottom: 80px;
}
/* here starts the make a difference css*/
@media screen and (max-width: 1125px) {
#make-a-difference {
flex-wrap: wrap;}
}


#make-a-difference {
justify-content: center;
 display: flex;
 width: auto;
 padding: 0px 20px; 
 background-color: #dfdfdf9d;
 z-index: 2;
 margin-bottom: 80px
}
#mad-bg {
  width: 400px;
  height: 400px;
  text-align: center;
  z-index: 2;
  background-color: #f1ca1d69;
}
.mad-cta {
  width: 250px;
  display: block;
	padding: 0.5rem 1rem;
	color: white;
	text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  background-color: #01965d;
  border-radius: 1em;
  margin: 20px auto;
}
#mad-bg > p{
font-size: 0.9em;
padding: 20px 30px ;
}
/* here starts the footer css*/
#footer-bg {
  display: flex;
  height: auto;
  width: auto;
  background-color: #017E4E;
}










#foot-left {
 margin-left: 10vw;
 flex: 5;
}
#foot-right {
 flex: 1;
}
footer div p{
color: white;
margin: 5px;
margin-top:15px; 
padding: 5px;
}

#foot-right ul {
  list-style: none;
  margin-right: 10px;
}